<div class="top_list">

</div>
<div class="list">
  <div class="standard_show">
    Ваши успехи на нашем сайте отражают количество заработанных очкой и уровень IQ. Заработать и тои другое
    можно двумя координально разными путями: <%= link_to 'Создавая соревнования блиц вопросы', '#creation' %> и
    <%= link_to 'Участвуя в них', '#participation' %>. Внимание: Если у вы долгое время не участвовали в
    играх ваш уровень IQ будет падать.

    <h1 id='participation'>Участие в соревнованиях:</h1>
    В данный момент на сайте представлено два типа игр: "Блиц" и "Соревнование". Они имеют общий принцип игры,
    отличаясь тем, что в "Блиц" это единичный вопрос, а соревнование это набор заданий.<br/>

    <h3>Последовательность участия:</h3>
    1) Заходим на вкладку <%= link_to 'Блиц', questions_path %> или <%= link_to "#Соревнования", '#' %>
    <br/>
    2) Выбираем по категорий, рейтингу или др. информации какое-то соревнование.<br/>
    3) Нажимаем "Play", в появившемся окне, подтверждаем согласие.<br/>
    4) После подтверждения согласия с вашего счета на счет сайта переводиться необходимое кол-во очков за
    участие и загружается соревнование.<br/>
    5) В "Блице" победа и поражение определяется дан ли правильный ответ или нет, в других соревнованиях
    победа может быть защитана в зависимости от типа соревнования
    ("Все верные" - все ответы правильные, "Одна ошибка" - допустим один неверный ответ,
    "Половина верно" - процент правильных ответов должно быть больше 50% включительно).<br/>
    6) До оглашения результата соревнования вам предложат оценить данное соревнование от этого будет
    зависеть сколько будет снято очков за участие и сколько вы получите в случае победы<br/>
    Например:<br/>
    Вы хотите принять участие в соревнований где за участие полагается 100 очков,
    а за победу 1000 очков и +1 IQ. Вы прошли соревнование и поставили ему средний рейтинг 4. Это значит
    что в ЛЮБОМ случае(победы или поражения) с фонда сайта(100 очков за участие переведено на него в
    момент начала) в соответсвии с коэффициентом за рейниг(для рейнига 4 это 0,8 таблицу коэффициентов можно
    посмотреть <%= link_to "#здесь", '#' %>) на счет создателя будет перечислено 100*0,8 = 80 очков,
    а 20 очков будет возвращено ПЕРВОГО числа СЛЕДУЮЩЕГО месяца на ваш счет. В случае же победы вы получите
    1000*0,8 = 800 очков + 1*0,8 = 0,8 IQ. Т.е вы сами регулируете былл ли соревнование стоящим и стоит ли
    поощрять создателя соревнования. Вы наверно захотите схитрить и всегда платить меньше за участие в
    соревновании, но тогда и за победу вы будете получать очень немного. Также если вы увидели соревнования
    оскорбляющие честь и достоинтва пользователей, нарушающие правила, нецензурные или неадекватные мы
    просим вас сообщать о данных фактах(после прохождения будет кнопка "Оповестить администраторов"). Мы
    примем меры против данных пользователей.


    <h3 id="creation">Последовательность создания:</h3>
    Для создания своего соревнования необходимо иметь IQ > 0 (можно заработать участвуя в соренованиях)
    1) Заходим в свой кабинет на вкладку <%= link_to 'Блиц', cabinet_questions_path %> или
    <%= link_to "#Соревнования", '#' %><br/>
    2) Заполняем поля для соревнования(поля отмеченные * обязательны)<br/>
    3) Нажимаем "Готово". В этот момент система переведет с вашего счета на специальный счет для данного
    соревнования количество очков, которые вы указали в графе "очки для розыгрыша". Ждем участников!<br/>
    4) Каждый пользователь который принял участие в вашем соревнований заплатит вам за участие в нем. Правда
    это не всегда будет соответсвовать той сумме которую вы указывали в графе "Очков за участие". Почему?
    "Train Your Brain" саморегируемая игровая площадка и то количетво очков что вы получите зависит от того
    как оценит ваше соревнование пользователь.
    Например:<br/>
    Вы создали соревнований где за участие полагается 100 очков, за победу 1000, а очков для розыгрыша 5000.
    Пользователь прошел соревнование и поставил ему средний рейтинг 4. Это значит
    что в ЛЮБОМ случае(победы или поражения) на ваш счет будет перечислено в соответсвии с коэффициентом
    за рейниг(для рейнига 4 это 0,8 таблицу коэффициентов можно посмотреть <%= link_to "#здесь", '#' %>)
    100*0,8 = 80 очков, а ваш IQ возрастет на 0,2*0,8 -0,1 = 0,6 пунктов. Если пользователь выйграет то ему
    из очков зачисленных на счет вопроса будет перечислен выйгрыш, также исходя из кожффициента за рейтинг
    1000*0,8 = 800 т.е в случае победы пользователя на счету вопроса останеться 5000-800 = 4200 очков.
    Если на счету вопроса остается меньше чем очков за победу в нем то соревнование автоматически снимается
    а остаток очков перечисляется обратно на ваш счет. Также вы можете досрочно снять вопрос(все очки
    оставшиеся на счете соревнования естественно перейчисялятся на ваш счет) нажав на клавишу "Снять" в личном
    кабинете на вкладке данного типа соревнования.
  </div>
</div>


