<tr>
  <td style="text-align: left">
    <span class="main_category with_left_margin">
      <%= question.try(:main_category).title %>
    </span>
    <% if question.sub_categories.any? %>
        <ul class="sub_categories">
          <% question.sub_categories.each do |sc|%>
              <li><%= sc.title %></li>
          <% end %>
        </ul>
    <% end %>
  </td>
  <td>
    <%= question.play_condition.participation_points %>
  </td>
  <td>
    <%= question.play_condition.win_points %>
  </td>
  <td>
    <%= rating_container(question.rating.to_i) %>(<%= question.rating.round(1) %>)
  </td>
  <td>
    <%= standard_date(question.created_at) %><br/>
    <!--TODO implement link to user profile-->
    <%= link_to question.user.login, '#' %>
  </td>
  <td>
    <%= link_to '',start_play_question_path(question), :class => 'start_link' %>
  </td>
</tr>