<table>
  <tr>
    <td valign="top">
      <img src="/assets/default_avatar.gif" alt="" style="width:80px;">
    </td>
    <td>
      <table>
        <tr>
          <td class="td_label">Имя:</td>
          <td>
            <%= f.text_field :first_name, :label => false, :text_field_html => {:class => 'standard_text_field'} %>
          </td>
        </tr>
        <tr>
          <td class="td_label">Фамилия:</td>
          <td>
            <%= f.text_field :last_name, :label => false, :text_field_html => {:class => 'standard_text_field'} %>
          </td>
        </tr>
        <tr>
          <td class="td_label">user_name*:</td>
          <td>
            <%= f.text_field :user_name, :label => false, :text_field_html => {:class => 'standard_text_field'} %>

          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <table>
        <tr>
          <td class="td_label"> Дата рождения:</td>
          <td>
            <%= f.text_field :date_of_birth, :label => false, :as => :date, :start_year => Date.today.year - 90,
                        :end_year => Date.today.year - 16,
                        :order => [:day, :month, :year] %>
          </td>
        </tr>
        <tr>
          <td class="td_label">Адресс:</td>
          <td>
            <%= f.text_field :address, :label => false, :as => :text, :text_field_html =>{:cols => 20, :rows => 4} %>
          </td>
        </tr>
        <tr>
          <td class="td_label">Любымые команды/спортсмены:</td>
          <td>
            <%= f.fields_for :user_favorite_items do |item_form| %>
                <%= item_form.text_field :name, :label => false, :text_field_html => {:class => 'standard_text_field'} %>
                <%= item_form.link_to_remove "Удалить" %>
            <% end %>
            <%= f.link_to_add "Добавить еще", :user_favorite_items %>
          </td>
        </tr>
        <tr>
          <td class="td_label">Обо мне:</td>
          <td>
            <%#= f.text_field :self_description, :label => false, :as => :text, :text_field_html =>{:cols => 20, :rows => 10} %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
