<% if defined?(question) %>
    </tr>

    <tr align="center">
      <td align="left"> <%= link_to question.try(:text) , cabinet_question_path(question) %></td>
      <td><%=  question.main_category.try(:title) %></td>
      <td><%=  question.variants.count %></td>
      <td>
          <span class='actions' style="position:inherit; text-align:center; width: 123px;">
            <%= link_to 'Cнять', close_question_cabinet_question_path(question) unless question.closed?%>
            <%= link_to 'Показать', cabinet_question_path(question) %>
          </span>
      </td>
    </tr>
<% end %>