<p id="notice"><%= notice %></p>

<p>
  <%= @question.text %>
</p>

<p>
  <b>Варианты:</b>
   <ul>
      <% @question.variants.each do |variant| %>
         <li> <%= variant.try(:text) %><%= ' (правильный)' if variant.answer? %></li>
      <% end %>
   </ul>
</p>


<%= link_to 'Назад',cabinet_questions_path %>