<table>
  <tr>
    <td>
      <img src="/assets/default_avatar.gif" alt="" style="width:70px;">
    </td>
    <td>
      <table>
        <tr>
          <td>user type</td>
        </tr>
        <tr>
          <td><%= current_user.profile.user_name || current_user.email %></td>
        </tr>
        <tr>
          <td>user credits</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br/>
<br/>
<br/>
<%= link_to '#Текущие соревнования', '#' %><br/>
<%= link_to '#Мои команды', '#' %><br/>
<%= link_to '#Мои друзья', '#' %><br/>
<%= link_to '#Мои фан клубы', '#' %><br/>
<%= link_to '#Мои сообщения', '#' %><br/>
<%= link_to '#Моя статистика', '#' %><br/>
<%= link_to '#Мои настройки', '#' %><br/>
<%= link_to 'Мои профиль', profile_path(:id => current_user.id) %><br/>

<br/> <%= link_to 'Выйти', '/sign_out' %>