<%= f.error_notification %>
<% if f.object.errors && f.object.errors[:base] && f.object.errors[:base].any? %>
    <% f.object.errors[:base].each do |error| %>
        <%= error %>
    <% end %>
<% end %>
<div class="inputs">
  <%= f.input :text %>
</div>
<div class="inputs category_div" style="margin-top: 15px; margin-bottom: 10px">
  <%= f.fields_for :model_to_main_category do |sub_form| %>
      <%= sub_form.association :main_category, :collection => @categories, :prompt => false %>
  <% end %>
</div>

<div class="inputs sub_categories_div">
  <%= render :partial => "/shared/sub_categories", :locals =>
                {:category => @selected_category.present? ? @selected_category : @categories.first, :model =>'question',
                 :selected_array => @selected_sub_categories} %>
</div>

<div class="inputs variants_div" style="margin-top: 15px; margin-bottom: 10px">
  <%= f.fields_for :variants do |sub_form| %>
      <table>
        <tr>
          <th>Текст ответа</th>
          <th>Пометить верный</th>
          <th></th>
        </tr>
        <tr>

          <td>
            <%= sub_form.text_field :text, :class => 'question_text' %>
          </td>
          <td align="center">
            <%= sub_form.input :answer, :label => false %>
          </td>
          <td>
            <%= sub_form.link_to_remove "Удалить вариант" %>
          </td>
        </tr>
      </table>
  <% end %>
  <%= f.link_to_add "Добавить вариант", :variants %>
</div>

<div class="actions">
  <%= f.button :submit %>
  <%= link_to 'Назад', admin_questions_path, :class => 'button', :style => "float:left" %>
</div>


<script type="text/javascript">
    $(function () {
        toggle_add_link_if_need($('.variants_div'));
        $('.add_nested_fields').live('click', function () {
            toggle_add_link_if_need($('.variants_div'));
        });
        $('.remove_nested_fields').live('click', function () {
            toggle_add_link_if_need($('.variants_div'));
        });
    });

    function toggle_add_link_if_need(elem) {
        if (elem.find('.question_text:visible').length == 4) {
            elem.find('.add_nested_fields').hide();
        }
        else {
            elem.find('.add_nested_fields').show();
        }
    }
</script>
