<% if defined?(question) %>
    </tr>

    <tr align="center">
      <td align="left"> <%= link_to question.try(:text) , admin_question_path(question) %></td>
      <td><%=  question.main_category.try(:title) %></td>
      <td><%=  question.variants.count %></td>
      <td>
          <span class='actions' style="position:inherit; text-align:center; width: 123px;">
            <a href="<%= edit_admin_question_path(question) %>" title="Edit"><img alt="Application_edit" height="16" src="/images/refinery/icons/application_edit.png" width="16"/></a>
            <a href="<%= admin_question_path(question) %>" class="cancel confirm-delete" data-confirm="Вы уверены что хотите удалить <%= question.try(:text) %>?" data-method="delete" rel="nofollow" title="Remove this entrant forever"><img alt="Delete" height="16" src="/images/refinery/icons/delete.png" width="16"/></a>
            <%= link_to 'Показать', admin_question_path(question) %>
          </span>
      </td>
    </tr>
<% end %>