<%= form_tag update_all_settings_admin_difficulty_level_settings_path do %>
    <table width="400px">
      <tr>
        <th>Название</th>
        <th>Необходимый уровень IQ</th>
      </tr>
   <% @difficulty_levels.each do |level| %>
        <tr>
                <td><%= level.name %></td>
                <td><%= text_field_tag "[levels]#{level.id}", level.difficulty_level_setting.iq_level %></td>
              </tr>
    <% end %>
    </table>
    <%= submit_tag 'Обновить' %>
    <%=link_to 'Отменить', admin_settings_path %>
<% end %>