<%= javascript_include_tag "transfer-list-box" %>

<table>
  <tr>
    <td>Имя</td>
    <td><%= text_field_tag :first_name, @first_name %></td>
  </tr>
  <tr>
    <td>Фамилия:</td>
    <td><%= text_field_tag :last_name, @last_name %></td>
  </tr>
  <tr>
    <td>Email*:</td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td>Пароль*:</td>
    <td><%= f.text_field :password %></td>
  </tr>
  <tr>
    <td>Подтверждение пароля*:</td>
    <td><%= f.text_field :password_confirmation %></td>
  </tr>
  <tr>
    <td>Роли*:</td>
    <td>
      <% if @roles.present? %>
          <table style="width:74% !important;" id="roles_box">
            <tr>
              <td>
                <select multiple size="<%= @roles.count %>" name="FromLB" style="width:200px">
                  <% @roles.each do |role| %>
                      <option value="<%= role.id %>"><%= role.name %></option>
                  <% end %>
                </select>
              </td>
              <td align="center" valign="middle">
                <input type="button" onClick="move(this.roles_box.FromLB,this.roles_box.ToLB)"
                       value="->"><br/>
                <input type="button" onClick="move(this.roles_box.ToLB,this.roles_box.FromLB)"
                       value="<-">
              </td>
              <td>
                <select multiple size="<%= @roles.count %>" name="ToLB" style="width:200px">
                </select>
              </td>
            </tr>
          </table>
      <% end %>
    </td>
  </tr>
</table>