<%= form_tag user_sessions_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email_or_login, 'Email or Login' %>
    <%= text_field_tag :email_or_login %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %>
    <%= link_to "Sign up", signup_path %>
  </div>
  <div>
  	<%= label_tag "keep me logged in" %>
    <%= check_box_tag :remember %>
  </div>
<% end %>
