<div class="login">
  <p class="autorization">Авторизация</p>

  <%= form_tag user_sessions_path, :method => :post do %>

      <p class="label left margin1">Логин</p>
      <%= text_field_tag :email_or_login %>

      <div class="clr"><!-- --></div>

      <p class="label left">Пароль</p>
      <%= password_field_tag :password %>

      <%= submit_tag "", :class => 'button' %>

      <div class="clr"><!-- --></div>

      <%= link_to "Зарегистрироваться!", signup_path, :class => 'reg' %>


      <div class="clr"><!-- --></div>
  <% end %>
  <%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook), :style => 'margin-left:100px;' %>

</div>
