<%= f.error_notification %>

<div class="inputs">
  <%= f.input :title %>
  <div class="image_container">
    <img src="<%= f.object.image.try(:image_url) %>" alt="обложка" id="cover"> <br/>
    <%= link_to_function "удалить", "delete_image()" %>
  </div>

  <%= f.hidden_field "image_id" %>
  <div id="file_select">
    <%= file_field_tag "file" %>
  </div>
  <%= f.input :description, :as => :ckeditor , :input_html => { :toolbar => 'Full', :style => "width:400px" } , :label => false %>
  <%= f.input :win_points %>
  <%= f.input :participation_points %>
  <%= f.hidden_field :user_id,:value => current_user.try(:id) %>
</div>

<div class="actions">
  <%= f.button :submit %>
  <%= link_to 'Back', admin_competitions_path, :class => 'button', :style => "float:left" %>
</div>

<script type="text/javascript">
  <% session_key = Rails.application.config.session_options[:key] %>
  function delete_image(){
      var data = 'id=' +  $("#news_point_image_id").val();
      $.post('<%= image_uploader_delete_image_path %>',data);
  }

  $(function() {
      if ($('#cover').attr('src') == '') {
         $('.image_container').hide();
      }
      else{
         $('#file_select').hide();
      }


      var uploadify_script_data = {};

      // Fetch the CSRF meta tag data
      var csrf_token = $('meta[name=csrf-token]').attr('content');
      var csrf_param = $('meta[name=csrf-param]').attr('content');

      // Now associate the data in the config, encoding the data safely
      uploadify_script_data[csrf_token] = encodeURI(csrf_param);

      // Associate the session information
      uploadify_script_data['<%= session_key %>'] = '<%= cookies[session_key] %>';
      $('#file').uploadify({
          'uploader'  : '/javascripts/uploadify/uploadify.swf',
          'script'    : '<%= image_uploader_async_upload_with_index_path %>.json',
          'cancelImg' : '/images/cancel.png',
          'fileExt'   : '*.jpg; *.jpeg; *.png; *.gif',
          'fileDesc'  : 'Images',
          'folder'    : '/uploads',
          'auto'      : true,
          //100Mb limit
          'sizeLimit'   : 104857600,
          'scriptData':
          {
              '_http_accept': 'application/javascript',
              '_method': 'put',
              '<%= session_key %>' : encodeURIComponent('<%= u cookies[session_key] %>'),
              'authenticity_token': encodeURIComponent('<%= u form_authenticity_token %>')
          },
          'onComplete' : function(event, ID, fileObj, response, data) {
              var goodies = jQuery.parseJSON(response);
              $('#remove_picture_div').show();
              if (goodies.status == 1) {
                  $('#cover').attr('src',goodies.file_url);
                  $('.image_container').show();
                  $("#competition_image_id").val(goodies.file_id);
                  $('#file_select').hide();
              }
              else {

              }
          }
      });
  });

</script>