<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Главная | Прокачай мозги</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "reset", "style" %>
  <%= javascript_include_tag "application", "common_functions" %>
  <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js", "/javascripts/uploadify/swfobject", "/javascripts/uploadify/jquery.uploadify.v2.1.4.min.js" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>


<body>
<% if flash[:notice].present? %>
  <div id="flash_notice" style="display: none">
    <%= flash[:notice]  %>
  </div>
<% end %>
<% if flash[:alert].present? %>
    <div id="flash_alert" style="display: none">
        <%= flash[:alert]  %>
      </div>
<% end %>


<div class="wrapper">
  <% if current_user %>
      <%= yield :top_part %>
  <% else %>
      <%= render '/user_sessions/form' %>
  <% end %>

  <div class="logo"><a href="index.html"><img src="/assets/logo.png" title="logo"/></a></div>

  <div class="clr"><!-- --></div>

  <div class="menu">
    <div class="top_menu"><!-- --></div>
    <div class="main_menu">
      <div class="nol">
        <div class="col1">
          <h3>Соревнования:</h3>
          <%= menu_link 'Блиц вопрос', questions_path, {:questions => [:all]} %>
          <%= menu_link '#Стандартная игра', '#' %>
          <%#= menu_link '#Победи других!', '#' %>
        </div>
        <div class="col2">
          <h3>Новости и статистика:</h3>
          <%= menu_link 'Наши новости', '/', {:home => [:all]} %>
          <%= menu_link '#Лучшие из лучших', '#' %>
        </div>
        <div class="col3">
          <h3>О сайте:</h3>
          <%= menu_link 'Правила игры', '/rules', {:other_pages => [:rules]} %>
          <%= menu_link 'Связаться с нами', '/contract_us', {:other_pages => [:contract_form]} %>
          <%= menu_link 'О проекте', '/about_us', {:other_pages => [:about_us]} %>
        </div>
        <div class="clr"><!-- --></div>
      </div>
    </div>
    <div class="bottom_menu"><!-- --></div>
  </div>

  <div class="main_list">
    <%= yield %>
  </div>


</div>

</div>

</body>
</html>








































