<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Главная | Прокачай мозги</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "reset", "style" %>
  <%= javascript_include_tag "application", "common_functions" %>
  <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js", "/javascripts/uploadify/swfobject", "/javascripts/uploadify/jquery.uploadify.v2.1.4.min.js" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>


<body>

<div class="wrapper">
  <% if current_user %>
      <%= yield :top_part %>
  <% else %>
      <%= render '/user_sessions/form' %>
  <% end %>

  <div class="logo"><a href="index.html"><img src="/assets/logo.png" title="logo"/></a></div>

  <div class="clr"><!-- --></div>

  <div class="menu">
    <div class="top_menu"><!-- --></div>
    <div class="main_menu">
      <div class="nol">
        <div class="col1">
          <h3>Соревнования:</h3>
          <a href="<%= questions_path %>">Блиц вопрос</a><br/>
          <a href="#">#Стандартная игра</a><br/>
          <a href="#">#Победи других!</a>
        </div>
        <div class="col2">
          <h3>Новости и статистика:</h3>
          <a href="/" class="aktiv">Наши новости</a><br/>
          <a href="#">#Лучшие из лучших</a>
        </div>
        <div class="col3">
          <h3>О сайте:</h3>
          <a href="#">#Общая информация</a><br/>
          <a href="#">#Правила игры</a>
        </div>
        <div class="clr"><!-- --></div>
      </div>
    </div>
    <div class="bottom_menu"><!-- --></div>
  </div>

  <div class="main_list">
    <%= yield %>
  </div>


</div>

</div>

</body>
</html>








































